.img{
    padding: 30px;
    margin: 10px;
    text-align: center !important;
}

.descript {
    font-size: 0.85rem;
}

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.pokemon-name,
.pokemon-stat-title,
.pokemon-stats {
    font-weight: 700;
}

.pokemon-stats {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.pokemon-stat-title span {
    font-weight: 400;
}

.pokemon-stat-title {
    font-weight: 400;
}