.img{
    padding: 30px;
    margin: 10px;
    text-align: center !important;
}

.descript {
    font-size: 0.8rem;
}

.card-container {
    display: flex;
    align-items: stretch;
}

.pokemon-name,
.pokemon-stat-title {
    font-weight: 700;
}